section#home {
    background-color:#292E49;
    background-image:url(../../assets/img/home-bg.jpg);
    background-size:cover;
    background-attachment: fixed;
    height:60vh;
    // padding-top:100px;
    
    .overlay {
        background:linear-gradient(to right, #292E49, #536976);
        opacity: 0.9;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100%;
    }

    .home-info {
        position:relative;
        margin-top:-180px!important;
    }

    form {

        input {
            box-sizing: border-box;
            border:0;
            padding:unset;
            padding-left:1.2rem;
            outline:none;
            width:320px;
        }

        .form-control {
            right:3.6rem!important;
        }
    }
    
}

@media (max-width:738px) {
    section#home {

        background-repeat: no-repeat;
        background-attachment: initial;
        background-position: 50% -25px;
        .container {

            form {
                display:flex;
                flex-direction:column;

                input {
                    width:100%;
                }
                .home-info {
                    margin-top:0!important;
                }
                .form-control {
                    right:0!important;
                    width:100%;
                }

                .form-control + .form-control {
                    margin-top:10px!important;
                }
            }


        }
    }
}