section#about {
    background:#f9f9f9;
    .container {
        
        h2 {
            font-size:2.8rem;
            text-align: center;
            margin-bottom:2.2rem;
        }

        .team {

            ul {
                margin-bottom:40px;
                display:flex;
                
                li {
                    

                    img {
                        width:25rem;
                    }

                    .team-content {
                        background:#fff;
                        padding:40px;

                        hgroup {

                            h3 {
                                font-size:1.8rem;
                                margin-bottom:10px;

                            }

                            h4 {
                                font-size:1.4rem;
                                margin-bottom:10px;
                            }
                        }

                    }
                    

                    .team-content:after {
                        display: block;
                        margin: 0 auto;
                        position: absolute;
                        bottom: -15px;
                        right: 0;
                        left: 0;
                        content: "";
                        width: 0;
                        height: 0;
                        border-right: 15px solid transparent;
                        border-left: 15px solid transparent;
                        border-top: 15px solid #ffffff;
                    }
                    
                }

                li:before {
                    display: block;
                    margin: 0 auto;
                    position: absolute;
                    bottom: -15px;
                    right: 0;
                    left: 0;
                    content: "";
                    width: 0;
                    height: 0;
                    border-right: 15px solid transparent;
                    border-left: 15px solid transparent;
                    border-top: 15px solid #ffffff;
                }
                
            }

            li:nth-child(2) {
                display: flex;
                flex-direction: column;
                
                .team-content {
                    order:-1;
                }
            }
        }
    }
}